<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>
<head>
<link type="text/css" rel="stylesheet" href="/static/stylesheets/main.css" />
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>

<script type="text/javascript" src="/static/scripts/jquery-1.3.2.js"></script> 
<script type="text/javascript">{% include "scoops.js" %}</script> 

{% block head %}{% endblock head %}
<title>ScoopStream</title>

</head>

<body>

<div id="masthead"></div>

<div id="main">

<div id="contain">     
<div id="content">
<div class="title"> <h1>
<a href="/">{% block title %} 


{% endblock title %} </a>


</h1></div> 



{% block link %}

{% endblock link %}



<div id="panels" class="autopagerize_page_element">


{% block main %}


<div class="panel" style="padding-bottom:0px;">

<div class="panelop"> <div class="pheadfill style4">&nbsp;</div></div>

<div class="panelcontent" > <div class="thecontent" style="height:auto;">
<div class="innercontent">



<div class="scoop regular">


<h1 class="headline" style="text-align:center;color:#242424">
ScoopStream
</h1>


<div class="scooper" style="">
This application looks for <strong>scoops</strong> among links posted to Twitter Accounts.
<div style="height:10px;"></div>
<span style="font-size:15px;">follow <a target="_blank" href="http://www.twitter.com/jamtoday">@jamtoday</a> for updates</span>
</div> 






<div class="options">
</div>

</div> {# scoop #}

 



 </div></div></div> </div>  



<ul>

{% for scoop in scoops %}

<div class="panel" style="padding-bottom:0px;">

<div class="panelop"> <div class="pheadfill style4">&nbsp;</div></div>

<div class="panelcontent" > <div class="thecontent">
<div class="innercontent">



<div class="scoop">


<h2 class="headline">

{{ scoop.scooper.twitter_formatted_name }} 
&nbsp; scooped &nbsp; 
{{ scoop.scooped.twitter_formatted_name }} 
</h2>


<div class="scooper scoop_post">
<div class="profile_image"><a target="_blank" href="{{ scoop.scooper_link.tweet_link }}"/> {{ scoop.scooper.profile_image }}</a> </div>
<div class="scoop_message">{{ scoop.scooper.twitter_formatted_name }} posted {{ scoop.scooper_link.formatted_link|truncatewords_html:10 }} </div>
 <div class="tweet"><a target="_blank" href="{{ scoop.scooper_link.tweet_link }}"/>view tweet</a></div>
</div> 
<div class="time" >{{ scoop.time_delta }} seconds before</div>


<div class="scooped scoop_post">
<div class="profile_image"><a target="_blank" href="{{ scoop.scooped_link.tweet_link }}"/> {{ scoop.scooped.profile_image }}</a> </div>
<div class="scoop_message">{{ scoop.scooped.twitter_formatted_name }} posted  {{ scoop.scooped_link.formatted_link|truncatewords_html:10 }} </div>
 <div class="tweet"><a target="_blank" href="{{ scoop.scooped_link.tweet_link }}"/>view tweet</a></div>

</div>


<div class="options"><div class="flag"> <a id="{{ scoop.key }}">flag this</a></div></div>
</div> {# scoop #}

 



 </div></div></div> </div>  

{% endfor  %}

</ul>

{% endblock main %}

</div>

</div>
</div>
</div>


</body>
</html>
