<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>
<head>
<link type="text/css" rel="stylesheet" href="/static/stylesheets/main.css" />
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>

<script type="text/javascript" src="/static/scripts/jquery-1.3.2.js"></script> 
<script type="text/javascript">{% include "signup.js" %}</script> 

{% block head %}{% endblock head %}
<title>Alpha Test</title>

</head>

<body>

<div id="masthead"></div>

<div id="main">

<div id="contain">     
<div id="content">
<div class="title"> <h1>
<a href="/">{% block title %} 


{% endblock title %} </a>


</h1></div> 
<div id="meta"> 



{% block link %}

{% endblock link %}



<div id="panels" class="autopagerize_page_element">





<div class="panel" style="padding-bottom:0px;">

<div class="panelop"> <div class="pheadfill style4">&nbsp;</div></div>

<div class="panelcontent" > <div class="thecontent">
<div class="innercontent">




<div class="main">

{% block main %}

<div class="homepage" style="height:300px;">

<div class="logo" style="position:absolute;" >
{# <img src="/static/autotip.png"/> #}
</div>
<!--
<div class="add_autotip" style="position:absolute; text-align:center; line-height: 1.3em; font-size: 28px; margin: 80px 350px; width: 300px;" >
Autotip  

<div id="pledge">$<input type="text" ></div>

for each mention of 

<div id="user">@<input type="text"  ></div>
<div class="add"><button>Continue</button></div>

</div>
-->
<ul>
{% for scoop in scoops %}
<li>{{ scoop.user.name }} - {{ scoop.time_delta }} seconds - {{ scoop.news_link.url }} - {{ scoop.user_link.url }}</li>
<br/><br/>
{% endfor  %}
</ul>
{% endblock main %}

</div>


</div> </div></div></div></div>










{% block body %}
{% endblock body %}


</body>
</html>
